<app-header></app-header>

<div class="container-fluid d-flex">

    <aside class="col-3 px-3 py-5 px-3 me-3 mt-3  d-flex   flex-column border-end border-secondary-subtle  ">
        <div class="d-flex justify-content-center flex-column border-">
            <div class="d-flex align-items-center flex-column">
                <img src="assets/imgs/zapato.jpg" alt="" class="img__profile me-3 border border-secondary ">
                <h4 class="mx-2 my-3">Marlong Mendoza</h4>
            </div>
            <div>
                <table class="table">
                    <tbody>
                      <tr class="d-flex flex-wrap">
                        <th scope="row">Correo</th>
                        <td>marlongyes@gmail.com</td>
                      </tr>
                      <tr class="d-flex flex-wrap">
                        <th scope="row">Telefono</th>
                        <td>3022265434</td>
                      </tr>
                      <tr class="d-flex flex-wrap"> 
                        <th scope="row">Ubicación</th>
                        <td>Bogota, Colombia</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>   
    </aside>
    <div>
        <app-list-items></app-list-items>
    </div>
</div>
<app-footer></app-footer>
