
<app-header></app-header>
<div class="container-fluid d-flex ">

    
    <aside class="col-3  py-2 px-3   d-flex   flex-column border-end border-secondary-subtle  ">
        <div class="container-fluid py-4 px-0">
            <input type="button" class="btn btn-dark  " value="⇐ Volver" [routerLink]="['/home']">
        </div>
        <div class="d-flex justify-content-center flex-column ">
            
            <table class="table">
                
                <tbody>
                    <tr class="d-flex flex-wrap">
                        <th scope="row" class="p-0 m-0"><h4 class="title__section">Editar Articulo</h4></th>
                        
                    </tr>
                    <tr class="d-flex flex-wrap">
                        <th scope="row" class="p-0 m-0">Imagenes</th>
                        <td>
                            <input type="file" class="form-control border border-danger" multiple="true" >
                        </td>
                    </tr>
                    <tr class="d-flex flex-wrap">
                    <th scope="row" class="p-0 m-0">Titulo</th>
                    <td>
                        <input type="text"  class="form-control border border-danger" aria-labelledby="passwordHelpInline" placeholder="Titulo" [(ngModel)]="articuloEdit.titulo" value="{{articulo.titulo}}">
                    </td>
                    </tr>
                    <tr class="d-flex flex-wrap p-0 m-0">
                    <th scope="row" class="p-0 m-0">Precio</th>
                    <td>
                        <input type="number"  class="form-control border border-danger" aria-labelledby="passwordHelpInline" placeholder="precio"  [(ngModel)]="articuloEdit.precio" value="{{articulo.precio}}" >
                    </td>
                    </tr>
                    <tr class="d-flex flex-wrap p-0 m-0">
                        <th scope="row" class="p-0 m-0">Fecha</th>
                        <td>
                            <p class="form-control border border-danger ">{{articuloEdit.fecha | date}}</p>
                        </td>
                    </tr>
                    <tr class="d-flex flex-wrap">
                    <th scope="row">Categoria</th>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Seleccione...
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">{{articulo.categoria_idcategoria.nombre}}</li>
                                <li class="dropdown-item">Hogar</li>
                                <li class="dropdown-item">Ropa</li>
                                <li class="dropdown-item">Belleza</li>
                                <li class="dropdown-item">Accesorios</li>
                                <li class="dropdown-item">Entretenimiento</li>
                                <li class="dropdown-item">Electroica</li>
                                <li class="dropdown-item">Aficiones</li>
                                <li class="dropdown-item">Servicios</li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                    <tr class="d-flex flex-wrap">
                    <th scope="row">Estado</th>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Seleccione...
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" >{{articulo.estado}}</li>
                                <li class="dropdown-item" > nuevo</li>
                                <li class="dropdown-item" >usado</li>
                                <li class="dropdown-item" >aceptable</li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                    <tr class="d-flex flex-wrap">
                    <th scope="row">Descripcion</th>
                    <td>
                        <div class="form-group">
                            <textarea placeholder="Mas información..." class="form-control border border-danger" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="articuloEdit.descripcion">{{articulo.descripcion}}</textarea>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>   
    </aside>
    <div class="col-7 d-flex  mx-auto alig-items-center flex-column "  >
        <div class="mt-4 mb-3 d-flex justify-content-between">
            <div>

                <h3>Vista previa</h3>
            </div>
            <div>

                <input type="button" class="btn btn-outline-danger px-4 mx-2" value="Eliminar articulo" (click)="eliminarArticulo()">
                <input type="button" class="btn btn-dark px-4" value="Guardar" (click)="editarArticulo()">
            </div>

        </div>
        <div class="container border border-secondary  mx-auto  p-3 d-flex justify-content-center rounded ">
            <div class="col-6 me-2 flex-column">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{{articulo.imagen}}" class="d-block w-100" alt="...">
                      </div>
                      <!-- <div class="carousel-item">
                        <img src="assets/imgs/zapato.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/imgs/zapato.jpg" class="d-block w-100" alt="...">
                      </div> -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card" aria-hidden="true">
                    <div class="card-body">
                      <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-5 d-flex flex-column  ">
                <div class="p-3 border border-secondary rounded"> <!-- NO PINTA BIEN -->
                    <h2>{{articuloEdit.precio | currency}}</h2>
                    <p >{{articuloEdit.titulo}}</p>
                    <div class="d-flex justify-content-between">
                        <em>{{articulo.user_iduser.ubicacion}}, Colombia</em>
                        <small class="text-secondary">{{articulo.fecha | date}}</small>
                    </div>
                </div>
                <div class="p-3  border border-secondary rounded my-3 d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center">
                        <img src="{{articulo.user_iduser.imagen}}" alt="" class="img__profile me-3 border border-secondary ">
                    </div>
                    <div>
                        <h5 class="text-center" >{{articulo.user_iduser.nombre}}</h5>
                        <input type="button" value="Ver perfil" class="btn btn-outline-dark p-2 w-100 mt-3 " [routerLink]="['/profile/'+articulo.user_iduser.id]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
